!!! 5
html
	head
		title standart-n
		meta(http-equiv = "Content-Language", content = "ru")
		meta(http-equiv = "Content-Type", content = "text/html; charset=utf-8")
		meta(name = "description", content = "standart-n")
		meta(name = "keywords", content = "standart-n")
		meta(name = "Revesit", content = "3")
		meta(name = "Document-state", content = "Dynamic")
		meta(name = "Copyright", Lang = "eng", content = "2012 standart-n.ru")
		meta(name = "Copyright", Lang = "ru", content = "2012 НВП Стандарт-Н")
		meta(name = "robots", content = "all")
		meta(name = "viewport", content = "width=device-width, initial-scale=1.0")
		// meta(name = "viewport", content = "user-scalable=no")
		link(href = "sn-project/favicon.ico", rel = "icon", type = "image/x-icon")
		link(href = "sn-project/favicon.ico", rel = "shortcut icon", type = "image/x-icon")
		link(href = "sn-project/public/css/style.min.css", rel = "stylesheet", type = "text/css")
		//[if lt IE 9]
			script(src = "http://html5shim.googlecode.com/svn/trunk/html5.js")
	body
		#sn
		#main			
			#text
				.container
					.row
						.span12
							.well
								h4 Стандарт-Н
			#signin
			#controls
			#table
			#pagination
			#stat

		#js
			script(src = "sn-project/public/js/client/dev.lmd.js", type = "text/javascript")



