
.container-fluid
	.row-fluid
		.span12
			.pagination.pagination-centered
				ul
					li(class = "{if isset($prev)}{if (!$prev)}disabled{/if}{/if}")
						a#prev(href = "#") «
					// if
					{if isset($pagination)}
					// foreach
					{foreach from=$pagination item=key}					
					li(class = "{if isset($key.hidden)}hidden-phone{/if} {if isset($key.active)}active{/if}")
						a.list(href = "#", data-page = "{if isset($key.page)}{$key.page}{/if}")
							{if isset($key.page)}{$key.page}{/if}
					// /foreach
					{/foreach}
					// /if
					{/if}					
					li(class = "{if isset($next)}{if (!$next)}disabled{/if}{/if}")
						a#next(href = "#") »
				input#page(type = "hidden", value = "{if isset($page)}{$page}{/if}")
