!!! 5
html
	head
		title standart-n
		meta(http-equiv = "Content-Language", content = "ru")
		meta(http-equiv = "Content-Type", content = "text/html; charset=utf-8")
		meta(name = "description", content = "standart-n")
		meta(name = "keywords", content = "standart-n")
		meta(name = "Revesit", content = "3")
		meta(name = "Document-state", content = "Dynamic")
		meta(name = "Copyright", Lang = "eng", content = "2012 standart-n.ru")
		meta(name = "Copyright", Lang = "ru", content = "2012 НВП Стандарт-Н")
		meta(name = "robots", content = "all")
		meta(name = "viewport", content = "width=device-width, initial-scale=1.0")
		// meta(name = "viewport", content = "user-scalable=no")
		link(href = "favicon.ico", rel = "icon", type = "image/x-icon")
		link(href = "favicon.ico", rel = "shortcut icon", type = "image/x-icon")
		link(href = "style.min.css", rel = "stylesheet", type = "text/css")
		//[if lt IE 9]
			script(src = "http://html5shim.googlecode.com/svn/trunk/html5.js")
	body		
	#sn
	ul#sn-side-menu	
		li
			label Готовые решения
		li
			a(href="de.news.automation_odegda") Магазин одежды
		li 
			a(href="de.news.automation_odegda") Магазин обуви
		li 
			a(href="de.news.automation_produkty") Продуктовый магазин
		li 
			a(href="de.news.automation_pharma") Аптеки
		li 
			a(href="de.news.automation_parfum") Косметика и парфюмерия
		li 
			a(href="de.news.automation_bytchemie") Хоз. товары и быт. химия
		li 
			a(href="de.news.automation_line") Сеть магазинов
		li 
			a(href="de.news.automation_jewel") Ювелирный магазин
		li 
			a(href="de.news.automation_zoo") Ветеринарная аптека
		li 
			a(href="de.news.automation_computer") Компьютерный магазин
		li 
			a(href="de.news.automation_line") Магазин розливного пива
		li 
			a(href="de.news.automation_inet") Интернет-магазин


		li
			label Программные продукты

		li
			a.dropdown(href="#") АРМ Менеджера
			ul.sub
				li
					a(href="de.news.automation.manager") О программе
				li
					a(href="de.news.automation.manager.chance_manager") Функциональные возможности
				li
					a(href="de.news.automation.manager.video_manager") Видеоуроки

		li
			a.dropdown(href="#") АРМ Кассира
			ul.sub
				li
					a(href="de.news.automation.kassir") О программе
				li
					a(href="de.news.automation.kassir.chance_kassir") Функциональные возможности
				li
					a(href="de.news.automation.kassir.kassir_hotkey") Горячие клавиши
				li
					a(href="de.news.automation.kassir.video_kassir") Видеоуроки

		li
			a(href="de.automation.svod_manager") АРМ Руководителя (сводный менеджер)


		li
			a(href="de.automation.intellekt_zakaz") Интеллектуальный заказ товара

		li
			a(href="de.automation.intellekt_zakaz") Общий Заказ

		li
			a.dropdown(href="#") Справочник лекарственных средств
			ul.sub
				li
					a(href="de.projects.sprav_lek") О программе
				li
					a(href="de.products.sprav_lek.sprav_functions") Функциональные возможности
				li
					a(href="de.sprav_lek.sprav_registration") Регистрация справочника

		li
			a(href="de.projects.po4ta") Программа печати конвертов

		li
			a(href="de.projects.discount") Дисконтная система




	#main			
		#signin
		#controls
		#table
		#pagination
		#stat
	#js
		script(src="client.js", type="text/javascript")
