
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="pagination pagination-centered">
        <ul>
          <li class="{if isset($prev)}{if (!$prev)}disabled{/if}{/if}"><a id="prev" href="#">«</a></li>
          <!-- if-->{if isset($pagination)}
          <!-- foreach-->{foreach from=$pagination item=key}					
          <li class="{if isset($key.hidden)}hidden-phone{/if} {if isset($key.active)}active{/if}"><a href="#" data-page="{if isset($key.page)}{$key.page}{/if}" class="list">{if isset($key.page)}{$key.page}{/if}</a></li>
          <!-- /foreach-->{/foreach}
          <!-- /if-->{/if}					
          <li class="{if isset($next)}{if (!$next)}disabled{/if}{/if}"><a id="next" href="#">»</a></li>
        </ul>
        <input id="page" type="hidden" value="{if isset($page)}{$page}{/if}"/>
      </div>
    </div>
  </div>
</div>